<div class="container-fluid content">
  <div id="Title">Trip Management</div>

  <div id="SubTitle">Add Trip</div>
</div>
<div id="userManagementContent">
  <div class="content">

    <form [formGroup] = "tripForm" (ngSubmit)="onSubmit()" style="display: flex;">
      <div class="col-6">
      <div class="form-group col-12">
        <label for="tripTitle" class="form-label">Trip Title<span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="tripTitle">
        <span class="error-block" *ngIf="!TripTitle.valid && (TripTitle.touched || tripSubmitted)">Trip Title is required.</span>
      </div>
      <br/>
      <div class="form-group col-12">
        <label for="budget" class="form-label">Budget <span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="budget">
        <span class="error-block" *ngIf="!Budget.valid && (Budget.touched|| tripSubmitted)">
          <span *ngIf="Budget.errors.required">Budget is required.</span>
          <span *ngIf="Budget.errors.pattern">Budget should be in number.</span>
        </span>
      </div>
      <br/>
      <div class="form-group col-12">
        <label class="form-label">Start Date <span class="text-danger">*</span></label>
        <input type="text" placeholder="Start Date" class="form-control" bsDatepicker formControlName="startDate">
        <span class="error-block" *ngIf="!StartDate.valid && (StartDate.touched|| tripSubmitted)">
          <span *ngIf="StartDate.errors.required">Start Date is required.</span>
        </span>
      </div>
      <br/>
      <div class="form-group col-12">
        <label class="form-label">End Date <span class="text-danger">*</span></label>
        <input type="text" placeholder="End Date" class="form-control" bsDatepicker formControlName="endDate">
        <span class="error-block" *ngIf="!EndDate.valid && (EndDate.touched|| tripSubmitted)">
          <span *ngIf="EndDate.errors.required">End Date is required.</span>
        </span>
        <span class="error-block" *ngIf="tripForm.hasError('notmatched') && EndDate.valid">
          End Date should not before Start Date.
        </span>
      </div>
      <br/>
      <div class="form-group col-12">
        <label for="status" class="form-label">Status <span class="text-danger">*</span></label>
        <select class="form-select" id="inputGroupSelect02" formControlName="status">
          <option selected value="">Select A Status</option>
          <option *ngFor="let r of status" value="{{r.Id}}">{{r.Status}}</option>
        </select>
        <span class="error-block" *ngIf="!Status.valid && (Status.touched|| tripSubmitted)">Status is required.</span>
      </div>
      <div class="form-group" style="margin-top: 3%;">
        <button (click)="onBack()" class="btn btn-outline-secondary me-3">Cancel</button>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
    <div class="form-group col-6 ps-5">
      <div class="form-group col-12">
        <label for="description" class="form-label">Description<span class="text-danger">*</span></label>
        <textarea type="text" class="form-control" formControlName="description"></textarea>
        <span class="error-block" *ngIf="!Description.valid && (Description.touched || tripSubmitted)">Description is required.</span>
      </div>
    </div>

    </form>

  </div>
</div>
