<div class="container-fluid" style="padding-left: 3%;">
  <div id="Title">User Management</div>

  <div id="SubTitle">User List</div>
</div>
<div id="userManagementContent">

  <div id="divBtnAdd">
    <button type="button" class="btn text-light btn-add">+ Add User</button>
  </div>
  <div id="content">
    <table class="table table-hover" id="usersTable" *ngIf="users">

      <thead id="tableHead">
        <tr style="background-color:#29c6ff;">
          <th>No.</th>
          <th>Username</th>
          <th>Roles</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let u of users | paginate:{itemsPerPage: 5, currentPage : p}; index as i">
          <td *ngIf="p==1">{{(i+1)}}</td>
          <td *ngIf="p>1">{{((p-1)*5)+(i+1)}}</td>
          <td>{{u.Username}}</td>
          <td>{{u.Role}}</td>
          <td>Actions</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange) = "p =$event"></pagination-controls>
  </div>
</div>
