<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <app-nav-bar *ngIf="loggedin()" [status]="status"></app-nav-bar>
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav style="position: sticky;top: 0;" class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="loggedin()">
        <div class="container-fluid">
          <button class="navbar-toggler" style="display: inline-block;" (click)="clickEvent()"><span class="navbar-toggler-icon"></span></button>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

