
  <div class="text-white border-right sidebar-background" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'showMenu'">
    <!-- <div class="sidebar-heading">Therichpost </div> -->
    <div class="list-group list-group-flush">
      <a routerLink="Trip-Images" class="list-group-item list-group-item-action text-white sidebar-background">
        <img class="icon-img" src="assets/Images/Home-Icon.png">
        <span>Home</span>
      </a>
      <a routerLink="Trip-Planning" class="list-group-item list-group-item-action text-white sidebar-background">
        <img class="icon-img" src="assets/Images/Planning-Icon.png">
        <span>Trip Planning</span>
      </a>
      <a routerLink="Upload-Image" class="list-group-item list-group-item-action text-white sidebar-background">
        <img class="icon-img" src="assets/Images/Upload-Icon.png">
        <span>Upload Image</span>
      </a>
      <a routerLink="User-List" class="list-group-item list-group-item-action text-white sidebar-background" >
        <img class="icon-img" src="assets/Images/User_Management-Icon.png">
        <span>User Management</span>
      </a>
    </div>
    <div class="btn-group pb-4" id="profile-icon" dropdown [dropup]="true">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" dropdownToggle (click)="false">
          <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
          <span class="d-inline-block d-sm-inline mx-3" id="profile_username">Ng Jin Cheng</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow text-center dropdown-menu-center" *dropdownMenu>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
              <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" style="cursor: pointer;" (click)="onlogout()">Sign out</a></li>
      </ul>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
