<div class="container-fluid content">
  <div id="Title">User Management</div>

  <div *ngIf="!userId" id="SubTitle">Add User</div>
  <div *ngIf="userId" id="SubTitle">Edit User</div>
</div>
<div id="userManagementContent">
  <div class="content">

    <form [formGroup] = "registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group col-6">
        <label for="username" class="form-label">Username <span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="username">
        <span class="error-block" *ngIf="!Username.valid && Username.touched">Username is required.</span>
      </div>
      <br/>
      <div class="form-group col-6">
        <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
        <input type="password" class="form-control" formControlName="password">
        <span class="error-block" *ngIf="!Password.valid && Password.touched">
          <span *ngIf="Password.errors.required">Password is required.</span>
          <span *ngIf="Password.errors.minlength">Password should more than 6 characters.</span>
        </span>
      </div>
      <br/>
      <div class="form-group col-6">
        <label for="confirmPassword" class="form-label">Confirm Password <span class="text-danger">*</span></label>
        <input type="password" class="form-control" formControlName="confirmPassword">
        <span class="error-block" *ngIf="!ConfirmPassword.valid && ConfirmPassword.touched">
          <span *ngIf="ConfirmPassword.errors.required">Confirm Password is required.</span>
        </span>
        <span class="error-block" *ngIf="registrationForm.hasError('notmatched') && ConfirmPassword.valid">
          Password not matched.
        </span>
      </div>
      <br/>
      <div class="form-group col-6">
        <label for="confirmPassword" class="form-label">Role <span class="text-danger">*</span></label>
        <input type="text" class="form-control">
      </div>
    </form>
    <div style="margin-top: 3%;">
      <button (click)="onBack()" class="btn btn-outline-secondary me-3">Cancel</button>
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
</div>
